<div class="container">
  <div class="row about-text">
    <div class="col-12 col-md-8 offset-md-4 review-block rounded about-us">
      <h3 class="aboutus">We are Wynwalkers</h1>
      <p>
        Our goal is to showcase the diverse art of Wynwood, with a focus on graffiti and street art. Miami’s art district shines with vibrant colors and murals around every corner, and attracts not only tourists, but also Miami locals to snap striking
        pictures.
      </p>
      <p>
        While attending the web development boot camp at Wyncode, we have had the chance to walk this neighborhood every day and explore all the hidden gems of graffiti art. We created Wynwalk because we wanted a way to share the local street art with
        everyone. The ever-changing design on each block you walk is something to behold as it brings life and a special atmosphere to a whole district.
      </p>
      <p>
        After spending so many hours at Wyncode we put our minds together to give something back with the skills we acquired. The page is open for everybody to upload his or her own photos. Combined with Google Maps, this will allow you to not only check out
        the picture but get the location so you can go there and see what is else around. Since the graffiti is constantly changing, each photo is equipped with a description and a rating, which allows you to see what was previously there and sheds light on
        how the neighborhood is changing through art.
      </p>
      <p>
        Thank you for your visit!
      </p>

            <img class="img-fluid" id="wyncode" src="https://2017.miami.wordcamp.org/files/2017/03/Wyncode_icon_with_text.png?w=640" id="symbol">
    </div>
    <div class="col-12 col-md-8 col-offset-md-2">

    </div>
  </div>

</div>
