<h1 class="aboutus">We are Wynwalkers</h1>
<p>
  Our goal is to promote the diverse art and share the graffiti
  around Wynwood. Miami’s art district shines with different colors
  and drawings in every corner you could go to, and attracts not
  only tourists, but also Miami locals to pose around them for
  striking pictures.
</p>
<p>
  While attending the programming course at Wyncode based in Wynwood,
  we get to walk this area every day and explore all the unseen gems
  of graffiti art. We wanted to share all the local art with everyone.
  The ever-changing design on every block you wander is something
  to behold as it brings life and a special atmosphere to a whole
  neighborhood.
</p>
<p>
  After spending so many hours at Wyncode we put our minds to give
  something back with the skills we acquired here. The page is open
  for everybody to upload his or her own photos. Combined with a
  geo-locator, this will allow you to not only check out the picture
  but get the location so you can go there and see what is else around.
  Since the graffiti is constantly changing, each photo is equipped
  with a description and a rating, which allows you to see what was
  previously there and sheds light on how the neighborhood is changing
  through art.
</p>
<p>
  Thank you for your visit!
</p>
  <img class="img-fluid"src="https://2017.miami.wordcamp.org/files/2017/03/Wyncode_icon_with_text.png?w=640" id="symbol">
