<p id="notice"><%= notice %></p>

<!-- <h1>Pictures</h1> -->
<div class="container">
  <div class="row">
    <% @pictures.each do |picture| %>
        <div class="col-12 col-md-4">
          <%= link_to image_tag(picture.url, class: 'img-fluid'), picture %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'New Picture', new_picture_path %>
