<h1>New Picture</h1>
<div class="container picture ">
  <div class="row">
    <div class="col-12  transparent-bg">
      <%= render 'form', picture: @picture %>

      <%= link_to 'Back', pictures_path %>
    </div>
  </div>
</div>
