<div class="container index-wrapper">
  <div class="row">
    <% @pictures.each do |picture| %>
      <div class="col-12" style="display: relative;">
        <div class="img-wrapper">

        <%= link_to image_tag(picture.url, class: 'img-fluid top-5', size: 500 ), picture %>
        <div class="caption">
          <p>
          <%= picture.caption %>
          Avg:
          <%= average_rating picture %>
          </p>
          <p>
            <%= picture.location %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
